<configuration>


  <!--Sección de variables de app.
  Aquí pueden declararse variables a usar en toda la aplicación.-->


  <system.web>

     <!--Tamaño máximo de las peticiones-->
     

     <!--Configuración de las sessiones-->
     <sessionState timeout="10" />

     <!--Habilitando y estableciendo duración de las cookies-->
     <sessionState cookieless="true" timeout="10"/>


  </system.web>
</configuration>
