.capturando{
  background-color: #FF8C00;
}
.revision{
  background-color: #FFD700;
}

.contratado{
  background-color: #00FF00;
}

.ver
{
  border-radius: 10px 10px 10px 10px;
  color: #6664FC;
  background: #64FCEA;
  /* width: 30px; */
}
